<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Soda</string>
		<string>Mesh</string>
		<string>Blur</string>
		<string>Frosted</string>
		<string>Frame</string>
		<string>Control</string>
		<string>Button</string>
		<string>Alert</string>
		<string>Switch</string>
		<string>SubSegment</string>
		<string>Segment</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
