<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Utsira</string>
	<key>Buffer Order</key>
	<array>
		<string>Demo</string>
		<string>Overview</string>
		<string>Soda</string>
		<string>Main</string>
		<string>Style2</string>
		<string>Style</string>
		<string>RoundRect</string>
		<string>Blur</string>
		<string>FRAME</string>
		<string>Button</string>
		<string>Toggle</string>
		<string>Switch</string>
		<string>Slider</string>
		<string>TextEntry</string>
		<string>Selector</string>
		<string>Segment</string>
		<string>Scroll</string>
		<string>ScrollShape</string>
		<string>TextScroll</string>
		<string>List</string>
		<string>Windows</string>
	</array>
	<key>Created</key>
	<string>2015-09-20 22:29:05 +0000</string>
	<key>Description</key>
	<string>Soda v0.5</string>
	<key>Icon</key>
	<string>Icon.png</string>
</dict>
</plist>
